
@import './config/variables';
@import './config/mixins';
@import './config/main';
@import './pages/cart';
@import './pages/home';
@import './pages/product';
@import './pages/allProducts';
@import './pages/contact';
@import './pages/error';
@import './pages/categories';
@import './pages/category';
@import './components/footer';
@import './components/header';
@import './components/productCard';
@import './components/navbar';
@import './components/button';
@import './components/footer';
@import './components/service';
@import './components/form';
@import './components/tag';
@import './components/addToCartModal';

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';