.main-categoeries{
    position: relative;
    min-height: 92vh;
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-family: $font2;
        font-size: 2.5rem;
    }
    p{
        padding: 0 20%;
    }
    ul{
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    ul, li{
        padding: 0;
        margin: 0;
        list-style: none;
    }
}