#contact{
    padding-top: 60px;
    position: relative;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .contact-container{
        max-width: 960px;
        width: 100%;
        height: 700px;
        display: flex;
        position: relative;
        .contact-container_left, .contact-container_right{
            width: 50%;
            height: 100%;
        }
        .contact-container_left{
            background-image: url(../../images/contactWatch.webp);
            background-size: cover;
            background-position: center;
        }
        .contact-container_right{
            padding-left: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow-x: visible;
            h1{
                white-space: nowrap;
                font-weight: 600;
            }
        }
        .contact-container_middle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            height: 300px;
            background-color: $color2;
            color: $color1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2, a{
                text-align: center;
                text-decoration: none;
            }
            h2{
                font-weight: 500;
            }
            a{
                color: goldenrod;
                &:hover{
                    text-decoration: underline;
                }
            }

        }
    }
    .contact-container_form{
        margin-top: 60px;
    }


}