.main-titleContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    h2{
        font-size: 2rem;
        font-family: $font2;
    }
    span{
        font-style: italic;
        font-size: 1.2rem;
    }
}

.main-products{
    @include mainPadding;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2, span{
        text-align: center;
        display: inline-block;
    }
    span{
        max-width: 50%;
    }
    button{
        margin-top: 40px;
    }
}

.main-products_content, .main-home_productContent{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}