.paiement{
    position: relative;
    display: flex;
    @include tablettes-only{
        flex-direction: column;
    }
    @include mobile-only{
        flex-direction: column;
    }
    .paiement-leftContainer{
        width: 30%;
        min-height: 100%;
        background: rgb(54,57,57);
        background:   linear-gradient(140deg, rgb(45, 47, 47) 20%, rgba(54,57,57,1) 25%, rgb(178, 179, 179) 35%, #B1B2B2 45%, rgba(54,57,57,1) 55%, rgba(54,57,57,1) 65%);
        position: relative;
        @include tablettes-only{
            width: 100%;
            min-height: 500px;
        }
        @include mobile-only{
            width: 100%;
            min-height: 300px;
        }
        .creditCardFront{
            width: 500px;
            height: 250px;
            background: rgb(210,211,211);
            background: linear-gradient(227deg, rgba(210,211,211,1) 45%, rgba(132, 151, 166) 54%, rgba(132, 151, 166) 58%, rgba(210,211,211,1) 65%);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            font-family: $font3;
            position: absolute;
            left: 60%;
            z-index: 1100;
            top: 200px;
            -webkit-animation-name: slideInLeft;
            animation: slideInLeft .6s 1 forwards;
            @include tablettes-only{
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%)!important;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            @include mobile-only{
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%)!important;
                width: 250px;
                height: 125px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            .creditCardFront-circle_container{
                display: flex;
                width: 100%;
                align-items: center;
                margin-top: 20px;
                @include mobile-only{
                    margin-top: 10px;
                }
                .creditCardFront-circle_1{
                    width: 50px;
                    height: 50px;
                    background-color: #FFF;
                    border-radius: 50%;
                    margin-left: 40px;
                    @include mobile-only{
                        width: 25px;
                        height: 25px;
                        margin-left: 20px;
                    }
                }
                .creditCardFront-circle_2{
                    width: 25px;
                    height: 25px;
                    border: 1px solid #FFF;
                    border-radius: 50%;
                    margin-left: 16px;
                    @include mobile-only{
                        width: 12.5px;
                        height: 12.5px;
                        margin-left: 8px;
                    }
                }
            }
            .creditCardFront-number{
                margin: 40px 0 0 0;
                width: 100%;
                @include mobile-only{
                    margin: 20px 0 0 0;
                }
                span{
                    font-size: 1.8rem;
                    width: 100%;
                    text-align: center;
                    display: inline-block;
                    @include mobile-only{
                        font-size: .9rem;
                    }
                }
            }
            .creditCardFront-bottom{
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: auto 0 8px 0;
                padding: 0 8px;
                font-size: 1.3rem;
                @include mobile-only{
                    font-size: .8rem;
                }
            }  
        }
    }
    .creditCardBack{
        width: 500px;
        height: 250px;
        background: rgb(210,211,211);
        border-radius: 10px;
        left: 55%;
        z-index: 1099;
        top: 600px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-animation-name: slideInRight;
        animation: slideInRight .6s 1 forwards;
        @include tablettes-only{
            top:30%;
            left: 45%;
            transform: translate(-50%,-50%)!important;
        }
        @include mobile-only{
            top:30%;
            left: 45%;
            transform: translate(-50%,-50%)!important;
            width: 250px;
            height: 125px;
        }
        .creditCardBack-band{
            margin-top: 40px;
            width: 100%;
            height: 44px;
            background-color: #252727;
            @include mobile-only{
                margin-top: 20px;
            }
        }
        .creditCardBack-cvc_container{
            margin-top: 20px;
            display:  flex;
            justify-content: center;
            width: 100%;
            @include mobile-only{
                margin-top: 10px;
            }
            .creditCardBack-cvc{
                width: 80%;
                display: flex;
                justify-content: flex-end;
                background-color: #e7e9e9;
                border-radius: 2px;
                span{
                    margin-right: 8px;
                    display: inline-block;
                    padding: 8px 0;
                    @include mobile-only{
                        margin-right: 4px;
                        padding: 4px 0;
                        font-size: .8rem;
                    }
                }
            }
            
            
        }
        .creditCardBack-phantom_container{
            margin-top: 16px;
            width: 40%;
            height: 80px;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-family: $font3;
            .ccp{
                background-color: #e7e9e9;
                border-radius: 40px;
                margin: 0 4px;
                height: 4px;
            }
            .ccp1{
                width: 40px;
            }
            .ccp2{
                width: 8px;
            }
            .ccp3 {
                width: 20px;
            }
            .ccp4 {
                width: 32px;
            }
            .ccp5{
                width: 8px;
            }
            .ccp6{
                width: 24px;
            }
            .ccp7{
                width: 44px;
            }
            .ccp8{
                width: 30px;
            }
            .ccp9{
                width: 12px;
            }
            .ccp10{
                width: 55px;
            }
            .ccp11{
                width: 33px;
            }
            .ccp12{
                width: 55px;
            }
            .ccp13{
                width: 20px;
            }
            .ccp14{
                width: 20px;
            }
        }
    }
}


// right side of paiement page 

.paiement-rightContainer{
    position: relative;
    height: 91.1vh;
    width: 70%;
    @include tablettes-only{
        width: 100%;
        min-height: 600px;
        height: auto;
    }
    @include mobile-only{
        width: 100%;
        min-height: 600px;
        height: auto;
    }
    .creditCard_form{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        max-width: 325px;
        display: flex;
        flex-direction: column;
        align-items: center;
        select{
            background-color: $color3;
            border-radius: 5px;
            padding : 5px;
            font-size: 1rem;
            font-family: $font1;
        }
    }
    .reditCard_form_bottomLine{
        display: flex;
        justify-content: space-between;
        width: 100%;
        input{
            width: 70px;
        }
        .reditCard_form_expiration, .reditCard_form-cvc{
            width: 50%;
            display: flex;
            flex-direction: column;
        }
        .reditCard_form_expirationInputs{
            display: flex;
        }
        #creditCardExpriationYear{
            margin-left: 8px;
        }
        .reditCard-form_cvc{
            justify-content: flex-end;
        }
    }
    .creditCard-form_btns{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 175px;
    }
}

  
  @-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  
  @-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  