.overlay {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  backdrop-filter: blur(4px);
  top: 0;
}

.hero-modal {
  width: 35%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color1;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  @include tablettes-only{
    width: 95%;
  }
  @include mobile-only{
    width: 95%;
  }
}

.addToCart-container {
  width: 80%;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;

  i {
    font-size: 40px;
    left: 5px;
    top: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }

  span {
    display: block;
    justify-content: center;
    display: inline-block;
    text-align: center;
  }
}

.addToCart-success {
  border: 1px solid green;
  transition: all .5s ease-in;

  span {
    color: green;
  }

  i {
    animation: zoomIn .5s ease-in 1;
  }
}

.fadeoff {
  opacity: 0;
}

.addToCart-failed {
  animation: shake 1s linear 1;
  border: 1px solid red;

  span {
    color: red;
  }
}

// Product preview

.cartPreview {
  overflow-y: scroll;
  max-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    text-align: left;
    width: 100%;
  }

}

.cartPreview-item {
  display: flex;
  padding: 15px 0;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: flex-end;
  width: 95%;

  h4 {
    font-weight: 500;
    font-size: 1rem;
    overflow-x: hidden;
    margin-right: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .cartPreview-item-img_Container {
    margin-right: 16px;
    width: 60px;
  }

  img {
    height: 50px;
  }

  .num {
    padding: 0 10px;
  }

  .cartPreview-item_Price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 8px;
    width: 80px;
  }

  .cartPreview-item_Delete {
    border: none;
    background-color: transparent;
    color: red;
    font-size: 20px;
    margin: 0 8px 0 8px;
  }

  .quantity-desc {
    margin: 0 8px 0 8px;
    width: 60px;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .minus,
  .plus {
    font-size: 1.2rem;
    color: rgb(17, 17, 158);
    background-color: transparent;
    border: none;
  }

}

.cartNumbers {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 24px;

  p {
    width: 100%;
    text-align: right;
    padding-right: 16px;
  }

  &::before {
    content: '';
    width: 80%;
    position: absolute;
    background-color: lightgrey;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cartButtons {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 24px;
  @include mobile-only{
    flex-direction: column;
    margin-right: 0;
    align-items: center;
  }
}



@-webkit-keyframes shake {

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}


.cartPreview {
  width: 90%;
}


@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}