header {
    background-image: url(../../../assets/images/header.webp);
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;

    .header-filter{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.529);
        display: flex;
        justify-content: center;
        display: flex;
        flex-direction: column;
        z-index: 1000;
    }

    h1{
        @include pageTitle;
        color : $color1;
        font-size: 2.5rem;
        padding: 0 5%;
        @include mobile-only{
            font-size: 1.5rem;
            padding: 5% 24px 0 24px;
        }
        @include tablettes-only{
            font-size: 2rem;
            padding: 5% 24px ;
        }
    }
    .header-btns{
        display: flex;
        justify-content: center;
        @include mobile-only {
            margin-top: auto;
            flex-direction: column;
            align-items: center;
            button{
                margin: 10px 0;
                padding: 15px 0;
            }
        }
    }
}