.loader-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 15px solid rgb(186, 186, 186);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:after {
        content: '';
        border-bottom: 15px solid black;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        top: -15px;
        left: -15px;
        transform: rotate(0);
        animation: rotate 1s infinite forwards linear;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}