.tag {
    background-color: $color2;
    border-radius: 20px;
    margin: 0 5px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: none;

    span {
        padding: 15px;
        font-size: 1.2rem;
        color: white;

        @include mobile-only {
            font-size: 1rem;
            padding: 15px;
        }
    }

    i {
        color: white;
        font-size: 1.2rem;
        padding: 2px;
    }

    @include mobile-only {
        margin-bottom: 10px;
    }
}

.tag-Close {
    transition: all .3s;
    animation: show .5s 1 forwards ease-out;
    opacity: 0;
    background-color: rgb(192, 11, 11);
    transform: scale(.9);

    @include mobile-only {
        font-size: 0.9rem;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}