//media querries

@mixin mobile-only {
    @media screen and (max-width : map-get($breakpoints, mobile)){
      @content
    }
  };


@mixin tablettes-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width : map-get($breakpoints, desktop)) {
      @content
    }
  };

 
  @mixin largeScreen-only {
    @media screen and (min-width : map-get($breakpoints, largeScreen)) {
      @content
    }
  };

@mixin pageTitle {
    text-align: center;
    font-family: $font2;
}

@mixin mainPadding {
    padding: 40px 10%;
}