$color1: #F1F1F1;
$color2 : rgb(18, 18, 18);
$color3 : rgb(216, 211, 211);

$font1 : 'Poppins', sans-serif;


$breakpoints: (
  mobile: 600px,
  tablettes :  800px,
  desktop : 1200px,
  largeScreen : 1800px
);